<header class="header">
  <h2>Digite os dados do endereço:</h2>
</header>
<section class="container_cadastros_produtos fomulario ff-inter">
  <div class="form-container">
    <nav class="menu-lateral">
      <button class="menu-tittle-forms">Dados</button>
      <button (click)="caminho('editarPerfil')" class="menu-button">Perfil</button>
      <button class="menu-button" style="pointer-events: none; background-color: rgb(144, 144, 144);">Endereços</button>
      <button (click)="caminho('formasPagamento')" class="menu-button">Formas de Pagamento</button>
    </nav>
   <form [formGroup]="formulario">

    <div *ngIf="enderecos">
      <label for="enderecos">Selecione o endereço que deseja editar</label>
        <div>
          <select class="select" id="enderecos" aria-label="Selecione o endereço" formControlName="enderecos" (change)="onEnderecoSelecionado($event)">
            <option selected value="">Escolha um endereço</option>
            <option *ngFor="let endereco of enderecos" [value]="endereco.id">{{ endereco.rua }}, {{ endereco.numero }}, {{ endereco.bairro }}, {{ endereco.cidade }}</option>
          </select>
        </div>
    </div>

    <label for="cep">CEP</label>
    <input
      type="cep"
      class="input"
      id="cep"
      formControlName="cep"
      placeholder="Digite o cep"
      maxlength="9"
      (blur)="consultaCEP($event, formulario)"
    >
    <div class="mensagem__erro"
     *ngIf="formulario.get('cep')?.errors && formulario.get('cep')?.touched">
      CEP é Obrigatório!
    </div>


    <label for="rua">Rua</label>
    <input
      type="textarea"
      class="input"
      id="rua"
      formControlName="rua"
      placeholder="Digite a Rua"
      readonly
    >

    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="numero">Número</label>
        <input
          type="number"
          class="input"
          maxlength="9"
          style="width: 150px; margin-right: 1rem;"
          id="numero"
          formControlName="numero"
          placeholder="Número"
        >
        <div class="mensagem__erro"
        *ngIf="(formulario.get('numero')?.errors && formulario.get('numero')?.touched)">
          Número é Obrigatório!
        </div>
      </div>

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="complemento">Complemento</label>
        <input
          type="text"
          class="input"
          style="width: 305px; margin-left: 0.2rem;"
          id="complemento"
          formControlName="complemento"
          placeholder="Digite o complemento"
        >
      </div>
    </div>

    <label for="bairro">Bairro</label>
    <input
      type="textarea"
      class="input"
      id="bairro"
      formControlName="bairro"
      placeholder="Digite o Bairro"
      readonly
    >
    <div class="mensagem__erro"
     *ngIf="formulario.get('bairro')?.errors && formulario.get('bairro')?.touched">
      Bairro é Obrigatório!
    </div>

    <label for="cidade">Cidade</label>
    <input
      type="textarea"
      class="input"
      id="cidade"
      formControlName="cidade"
      placeholder="Digite a Cidade"
      readonly
    >
    <div class="mensagem__erro"
     *ngIf="formulario.get('cidade')?.errors && formulario.get('cidade')?.touched">
      Cidade é Obrigatório!
    </div>

    <label for="estado">UF</label>
    <select id="estado" name="estado" class="select" formControlName="estado">
      <option disabled selected value="">Escolha um estado</option>
      <option value="AC">Acre</option>
      <option value="AL">Alagoas</option>
      <option value="AP">Amapá</option>
      <option value="AM">Amazonas</option>
      <option value="BA">Bahia</option>
      <option value="CE">Ceará</option>
      <option value="DF">Distrito Federal</option>
      <option value="ES">Espírito Santo</option>
      <option value="GO">Goiás</option>
      <option value="MA">Maranhão</option>
      <option value="MT">Mato Grosso</option>
      <option value="MS">Mato Grosso do Sul</option>
      <option value="MG">Minas Gerais</option>
      <option value="PA">Pará</option>
      <option value="PB">Paraíba</option>
      <option value="PR">Paraná</option>
      <option value="PE">Pernambuco</option>
      <option value="PI">Piauí</option>
      <option value="RJ">Rio de Janeiro</option>
      <option value="RN">Rio Grande do Norte</option>
      <option value="RS">Rio Grande do Sul</option>
      <option value="RO">Rondônia</option>
      <option value="RR">Roraima</option>
      <option value="SC">Santa Catarina</option>
      <option value="SP">São Paulo</option>
      <option value="SE">Sergipe</option>
      <option value="TO">Tocantins</option>
      <option value="EX">Estrangeiro</option>
    </select>
    <div class="mensagem__erro"
     *ngIf="formulario.get('estado')?.errors && formulario.get('estado')?.touched">
      Estado é Obrigatório!
    </div>

    <div>
      <input id="principal" type="checkbox" formControlName="principal" [checked]="false" selected />
      <label class="campo__check" for="principal">Endereço principal</label>
    </div>

    <div class="d-flex flex-column align-items-center">
      <div class="d-flex flex-wrap gap-3">
        <button (click)="id ? editar() : cadastrar()" [disabled]="!formulario.valid" [ngClass]="habilitarBotao()" id="btnSalvar">Cadastrar</button>
        <div *ngIf="id">
          <button
            [disabled]="!formulario.valid"
            (click)="excluir(id)"
            class="botao__apagar"
            id="btnExcluir">
            Deletar endereço selecionado?
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

</section>
