<header class="header">
  <h2>Digite os dados do endereço:</h2>
</header>
<section class="container_cadastros fomulario ff-inter">
  <form [formGroup]="formulario">

    <label for="nome">Nome e Sobrenome</label>
    <input
      type="textarea"
      class="input"
      id="nome"
      formControlName="nome"
      placeholder="Digite o nome e sobrenome conforme no cartão"
    >
    <div class="mensagem__erro"
    *ngIf="(formulario.get('nome')?.errors && formulario.get('nome')?.touched)">
      Nome é Obrigatório!
    </div>

    <label for="numero">Número</label>
    <input
      type="number"
      class="input"
      maxlength="16"
      id="numero"
      formControlName="numero"
      placeholder="0000.0000.0000.0000"
    >
    <div class="mensagem__erro"
    *ngIf="(formulario.get('numero')?.errors && formulario.get('numero')?.touched)">
      Número é Obrigatório!
    </div>
      
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="mes">Mês</label>
        <input
          type="number"
          class="input"
          maxlength="2"
          style="width: 130px; margin-right: 0.2rem;"
          id="mes"
          formControlName="mes"
          placeholder="00"
        >
        <div class="mensagem__erro"
        *ngIf="(formulario.get('mes')?.errors && formulario.get('mes')?.touched)">
          Mês é Obrigatório!
        </div>
      </div>

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="ano">Ano</label>
        <input
          type="number"
          class="input"
          maxlength="4"
          style="width: 130px; margin-left: 0.2rem;"
          id="ano"
          formControlName="ano"
          placeholder="0000"
        >
        <div class="mensagem__erro"
        *ngIf="(formulario.get('ano')?.errors && formulario.get('ano')?.touched)">
          Ano é Obrigatório!
        </div>
      </div>
      
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="secCode">Cód. Segurança</label>
        <input
          type="number"
          class="input"
          maxlength="3"
          style="width: 130px; margin-left: 0.5rem;"
          id="secCode"
          formControlName="secCode"
          placeholder="123"
        >
        <div class="mensagem__erro"
        *ngIf="(formulario.get('secCode')?.errors && formulario.get('secCode')?.touched)">
          sec Code é Obrigatório!
        </div>
      </div>
    </div>

    <!-- <div>
      <input id="principal" type="checkbox" formControlName="principal" [checked]="false" selected />
      <label class="campo__check" for="principal">Endereço principal</label>
    </div> -->

    <div class="d-flex flex-column align-items-center">
      <div class="d-flex flex-wrap gap-3">
        <button (click)="processPayment()" [disabled]="!formulario.valid" [ngClass]="habilitarBotao()" id="btnSalvar">Cadastrar</button>
        <!-- <button (click)="processPayment()" class="botao_forms">Voltar</button> -->
      </div>
    </div>
</form>

</section>
<!-- <iframe src="https://checkout.nubank.com.br/RIZWV0J6LY19wyz8" class="container_pagamentos" title="Iframe Example"></iframe>
<div class="d-flex flex-column align-items-center">
  <div class="d-flex flex-wrap gap-3">
    <button (click)="cancelar()" class="botao_forms">Voltar</button>
  </div>
</div> -->
