.imagens{
  padding-left: 5rem;
}

.imagem-mini {
  padding: 2px;
  border-radius: 5px;
  height: 5rem;
  width: 5rem;
}

.imagem-mini:hover{
  border: 2px solid #020e0a;
}

.tag{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 120px;
  text-align: center;
  border: 1px solid #aaaaaa;
  border-radius: 0%;
  font-size: 13px;
  color: rgb(167, 167, 167);
}

.tag:hover{
  border: 1px solid #000000;
  border-radius: 0%;
}

.btn {
  border: none;
  outline: none;
  padding: 5px 16px;
  border: 1px solid #aaaaaa;
  cursor: pointer;
  font-size: 15px;
}

/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
  border: 1px solid #000000;
  color: black;
}

.btn_carrinho {
  border: none;
  outline: none;
  padding: 5px 16px;
  border: 1px solid #aaaaaa;
  cursor: pointer;
  font-size: 15px;
  color: #c2c2c2;
  background-color: #000;
}

.icon_core {
  font-size: 33px;
  transition: color 0.3s; /* Transição suave na mudança de cor */
}

.icon_core:hover {
  color: rgb(255, 0, 0); /* Cor ao passar o mouse */
}

.favActive {
  color: rgb(255, 0, 0); /* Cor quando marcado como favorito */
}

.contador {
  text-align: center;
  border: #868686;
}

.quantSelect {
  max-width: 100px;
}
