<div style="max-width: 1200px;">
  <div class="row g-0">
    <div class="col-md-6 imagens">
      <div class="row mx-auto">
        <ng-container *ngIf="corSelecionada?.imagens?.length > 0; else semImagens">
          <div class="col-md-2">
            <div *ngIf="corSelecionada.imagens.length > 1">
              <div *ngFor="let imagem of corSelecionada.imagens;">
                <div style="max-width: 5rem; max-height: 5rem;">
                  <img src="{{ link + imagem.foto }}" class="img-fluid imagem-mini" alt="..." (click)="selecionarImagem(imagem)" style="cursor: pointer;">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10">
            <div class="card" style="width: 15rem; height: 22rem; border: none;">
              <ng-container *ngIf="imagemSelecionada.foto; else semImagensCor">
                <img src="{{link + imagemSelecionada.foto }}" class="img-fluid rounded-start" alt="...">
              </ng-container>
              <ng-template #semImagensCor>
                <div class="ff-inter centralizar">
                  <br/>
                  <br/>
                  <br/>
                  <p>Não há imagens dessa cor deste produto</p>
                </div>
              </ng-template>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-body" *ngIf="produto?.descricao">
        <h5 class="card-title">{{ produto.descricao }}</h5>
        <p>{{ produto.valor }} R$</p>
        
        <div id="divTag" class="d-flex flex-column align-items-left">
          <p class="card-text">Cores</p>
          <div class="d-flex flex-wrap gap-3">
            <div *ngFor="let corProduto of produto.cores">
              <p [id]="corProduto.id"
                 class="tag"
                 [ngClass]="{ 'active': corSelecionada?.id === corProduto.id }"
                 (click)="selecionarCor(corProduto)"
                 style="cursor: pointer;">
                {{ corProduto.cor }}
              </p>
            </div>
          </div>
        </div>

        <div id="divBtn" class="d-flex flex-column align-items-left">
          <p class="card-text">Tamanhos</p>
          <div class="d-flex flex-wrap gap-3 ">
            <div *ngFor="let tamanho of produto.tamanhos">
              <button [id]="tamanho.id"
                      class="btn"
                      [ngClass]="{ 'active': tamanhoSelecionado?.id === tamanho.id }"
                      (click)="selecionarTamanho(tamanho)">
                {{ tamanho.tamanho }}
              </button>
            </div>
          </div>
        </div>
        <br />
        <div class="d-flex flex-wrap">
          <select class="form-select quantSelect" id="cont" aria-label="Quant" [(ngModel)]="quantidade">
            <option value="0" selected>Quant:</option>
            <option *ngFor="let quant of quants" [value]="quant">Quant: {{ quant }}</option>
        </select>        
        </div>
        <br />
        <br />
        <br />
        <div id="divBtnFav" class="d-flex flex-column align-items-left">
          <div class="d-flex flex-wrap gap-3 ">
            <button class="btn_carrinho" (click)="adicionarCarrinho()">
              Adicionar ao carrinho
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
            <button class="btn_carrinho" (click)="comprar()">
              Comprar agora
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
            <i class="fa-solid fa-heart icon_core"
               [ngClass]="{ 'favActive': isFavorito }"
               (click)="adicionarFavorito()"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #semImagens>
  <div class="ff-inter centralizar">
    <br/>
    <br/>
    <br/>
    <p>Não há imagens deste produto</p>
  </div>
</ng-template>