<div class="container_cadastros row mx-auto">
    <div class="container row mx-auto">
      <div class="align-self-center">
        <p class="titulo">
          Página do Administrador
        </p>
      </div>
    </div>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><i class="fa-regular fa-pen-to-square"></i><a href="/listarProdutos" class="add"> Produtos</a></td>
          <td><i class="fa-regular fa-plus"></i><a href="/cadastrarEditarProduto" class="add"> Adicionar Produto</a></td>
        </tr>
        <!-- <tr>
          <td><i class="fa-regular fa-pen-to-square"></i><a href="/listarEscolaDominical" class="add"> Escola Dominical</a></td>
          <td><i class="fa-regular fa-plus"></i><a href="/cadastrarEditarEscolaDominical" class="add"> Adicionar Escola Dominical</a></td>
        </tr>
        <tr>
          <td><i class="fa-regular fa-pen-to-square"></i><a href="/listarLiderancas" class="add"> Lideranças</a></td>
          <td><i class="fa-regular fa-plus"></i><a href="/cadastrarEditarLideranca" class="add"> Adicionar Liderança</a></td>
        </tr>
        <tr>
          <td><i class="fa-regular fa-pen-to-square"></i><a href="/listarMembros" class="add"> Membros</a></td>
          <td><i class="fa-regular fa-plus"></i><a href="/cadastrarEditarMembro" class="add"> Adicionar Membro</a></td>
        </tr>
        <tr>
          <td><i class="fa-regular fa-pen-to-square"></i><a href="/listarMinisterios" class="add"> Ministérios</a></td>
          <td><i class="fa-regular fa-plus"></i><a href="/cadastrarEditarMinisterio" class="add"> Adicionar Ministério</a></td>
        </tr>
        <tr>
          <td><i class="fa-regular fa-pen-to-square"></i><a href="/listarMissionarios" class="add"> Missionários</a></td>
          <td><i class="fa-regular fa-plus"></i><a href="/cadastrarEditarMissionario" class="add"> Adicionar Missionário</a></td>
        </tr>
        <tr>
          <td><i class="fa-regular fa-pen-to-square"></i><a href="/listarPastor" class="add"> Pastor/Seminarista</a></td>
          <td><i class="fa-regular fa-plus"></i><a href="/cadastrarEditarPastor" class="add"> Adicionar Pastor/Seminarista</a></td>
        </tr>
        <tr>
          <td><i class="fa-regular fa-pen-to-square"></i><a href="/listarPregacoes" class="add"> Pregações</a></td>
          <td><i class="fa-regular fa-plus"></i><a href="/cadastrarEditarPregacoes" class="add"> Adicionar Pregação</a></td>
        </tr>
        <tr>
          <td><i class="fa-regular fa-pen-to-square"></i><a href="/listarProgramacoes" class="add"> Programações</a></td>
          <td><i class="fa-regular fa-plus"></i><a href="/cadastrarEditarProgramacao" class="add"> Adicionar Programação</a></td>
        </tr>
        <tr>
          <td><i class="fa-regular fa-pen-to-square"></i><a href="/listarFotosMinisterios" class="add"> Fotos Ministérios</a></td>
          <td><i class="fa-regular fa-plus"></i><a href="/cadastroFotosMinisterios" class="add"> Adicionar Fotos Ministérios</a></td>
        </tr> -->
      </tbody>
    </table>
  </div>
  